In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.5
1.20.3

In [4]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df

    A   B   C   D   E
0  10   6  12  11  17
1   5  12   4   8  16
2   1   9   3  11  11
3   6   8   2  10   1
4  16  16  16  16   4
5   4  10  18   8   6
6  13   6  11   2  19
7   3   6  12  18  16
8  10  13   3   3  15
9   6   4  14  12   2

In [5]:
df.shape

(10, 5)

In [6]:
# Membagi df jadi dua dengan proporsi df1 = 70% df2 sisanya
proporsi = 0.7
# Membuat df 1 dengan frac=70%
df_1 = df.sample(frac=proporsi)
# Membuat df2 dengan df yang df_1nya dihapus
df_2 = df.drop(df_1.index)

print(f'df_1.shape: {df_1.shape}')
print(f'df_2.shape: {df_2.shape}')

df_1.shape: (7, 5)
df_2.shape: (3, 5)

In [11]:
df_1

    A   B   C   D   E
7   3   6  12  18  16
8  10  13   3   3  15
5   4  10  18   8   6
0  10   6  12  11  17
9   6   4  14  12   2
1   5  12   4   8  16
6  13   6  11   2  19

In [8]:
df_2

    A   B   C   D   E
2   1   9   3  11  11
3   6   8   2  10   1
4  16  16  16  16   4