In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.5
1.20.3

In [3]:
n_rows = 5
n_cols = 2
cols = ['bil_pecahan', 'bil_bulat']

# Membuat df dengan nilai random 1-20
df =  pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

# Merubah tipe data kolom pecahan jadi float
df['bil_pecahan'] = df['bil_pecahan'].astype('float')

# Membuat colom baru dengan nama index
# Dengan value datetime
# Freq=H artinya Hours atau Jam jdi datanya tergeneret berdasarkan jam
df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df = df.reset_index()

# Membuat kolom baru dengan value abcde
df['teks'] = list('ABCDE')

df

C:\Users\phant\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\util\__init__.py:8: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                index  bil_pecahan  bil_bulat teks
0 2000-01-01 00:00:00         13.0          8    A
1 2000-01-01 01:00:00          1.0          3    B
2 2000-01-01 02:00:00         19.0          2    C
3 2000-01-01 03:00:00         16.0          9    D
4 2000-01-01 04:00:00         12.0         19    E

In [4]:
df.dtypes

index          datetime64[ns]
bil_pecahan           float64
bil_bulat               int32
teks                   object
dtype: object

In [5]:
# Memilih kolom bertipe data numerik
df.select_dtypes(include='number')

   bil_pecahan  bil_bulat
0         13.0          8
1          1.0          3
2         19.0          2
3         16.0          9
4         12.0         19

In [6]:
df.select_dtypes(include='float')

   bil_pecahan
0         13.0
1          1.0
2         19.0
3         16.0
4         12.0

In [7]:
df.select_dtypes(include='int')

   bil_bulat
0          8
1          3
2          2
3          9
4         19

In [8]:
# Hanya menampilkan yang bertipe data string
df.select_dtypes(include='object')

  teks
0    A
1    B
2    C
3    D
4    E

In [9]:
# Hanya menampilkan yang bertipe data datetime
df.select_dtypes(include='datetime')

                index
0 2000-01-01 00:00:00
1 2000-01-01 01:00:00
2 2000-01-01 02:00:00
3 2000-01-01 03:00:00
4 2000-01-01 04:00:00

In [10]:
# Menampilkan kolom dengan kombinasi tipe data
df.select_dtypes(include=['number', 'object'])

   bil_pecahan  bil_bulat teks
0         13.0          8    A
1          1.0          3    B
2         19.0          2    C
3         16.0          9    D
4         12.0         19    E