In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.5
1.20.3

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

# Membuat Data Frame dengan nilai random 1-10
# Dengan jumlah baris 5 dan colom 5
# Dengan Nama Colm berdasarkan A,B,C,D,E
df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  4  2  2  3  1
1  2  3  1  9  8
2  6  1  1  2  4
3  5  7  4  3  9
4  8  7  5  2  6

In [3]:
# Menambahkan Prefiks didepan nama colom
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        4        2        2        3        1
1        2        3        1        9        8
2        6        1        1        2        4
3        5        7        4        3        9
4        8        7        5        2        6

In [4]:
# Memnambahkan Suffiks dibelakang nama colom
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        4        2        2        3        1
1        2        3        1        9        8
2        6        1        1        2        4
3        5        7        4        3        9
4        8        7        5        2        6