In [61]:
import pandas as pd

print(pd.__version__)

1.2.5

In [62]:
df = pd.util.testing.makeMissingDataframe().reset_index()
df.head()

        index         A         B         C         D
0  3Ot6dtGMdK -0.270175  0.142719  0.125991       NaN
1  Z6WjvtIQDF  0.201424 -0.539718       NaN  0.354140
2  NG43qu64u1  1.257992 -0.084132 -1.040575  0.031353
3  fcXdFJkJqK  0.207275  1.884533  0.291513  0.362392
4  IcRY0meTFP       NaN -1.682447  1.227355       NaN

In [63]:
df = df.rename(columns={'index':'Z'})
df.head()

            Z         A         B         C         D
0  3Ot6dtGMdK -0.270175  0.142719  0.125991       NaN
1  Z6WjvtIQDF  0.201424 -0.539718       NaN  0.354140
2  NG43qu64u1  1.257992 -0.084132 -1.040575  0.031353
3  fcXdFJkJqK  0.207275  1.884533  0.291513  0.362392
4  IcRY0meTFP       NaN -1.682447  1.227355       NaN

In [64]:
# Kopi ke variabel backup agar bisa dikembalikan setelah di drop
df_backup = df.copy(deep=True)

In [65]:
# Menghilangkan kolom dengan missing value
df = df.dropna(axis='columns')
df.head()

            Z
0  3Ot6dtGMdK
1  Z6WjvtIQDF
2  NG43qu64u1
3  fcXdFJkJqK
4  IcRY0meTFP

In [66]:
# Menghilangkan baris dengan missing value
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head()

            Z         A         B         C         D
2  NG43qu64u1  1.257992 -0.084132 -1.040575  0.031353
3  fcXdFJkJqK  0.207275  1.884533  0.291513  0.362392
5  Bjma8iC0v9 -0.446053  1.913548 -0.918035  0.353535
6  1OmIKsvvM7 -0.859172 -1.031880  0.991383  0.883757
8  GuTinas4hq  0.292466  0.608533 -1.201905  0.118868

In [67]:
# Mencari presentase missing value tiap column
df = df_backup.copy(deep=True)
df.isna().mean()

Z    0.000000
A    0.066667
B    0.166667
C    0.066667
D    0.100000
dtype: float64

In [68]:
#  Menghapus setiap kolom yang mengandung missing value berdasasarkan threshold
# 
threshold = len(df) * 0.9
df = df.dropna(thresh=threshold, axis='columns')
df.head()

            Z         A         C         D
0  3Ot6dtGMdK -0.270175  0.125991       NaN
1  Z6WjvtIQDF  0.201424       NaN  0.354140
2  NG43qu64u1  1.257992 -1.040575  0.031353
3  fcXdFJkJqK  0.207275  0.291513  0.362392
4  IcRY0meTFP       NaN  1.227355       NaN